<a href="https://colab.research.google.com/github/gjignacio/OpenWorks-.csv-data-import/blob/master/OW_csv_data_import.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
# ENTRY PARAMETERS:
# 1) fileName: nombre/ruta del archivo a importar.
# 2) nHeaderRows: cantidad de filas a saltear considerandolas como parte 
#                 del header de los datos.
# 3) printQC: imprime las primeras 'nRowsQC' filas de datos para realizar un control de calidad.
#             0 = False
#             1 = True
# 4) nRowsQC: cantidad de filas a imprimir en la opcion de QC.

# OUTPUT:
# 1) importedData: tabla de datos importados (en el formato de pandas DataFrame) 

# EJEMPLO:
# datos = fileDataImport('DATOS.txt',0,1,25)

In [0]:
def fileDataImport(fileName,nHeaderRows = 0,printQC = 1,nRowsQC = 10):
    #Importo las columnas de datos.
    dataValues = pd.read_csv(fileName,
                             sep=',',
                             header = nHeaderRows, 
                             skiprows = 1)
    
    importedData = pd.DataFrame(dataValues)
    
    # QC option: Print on screen the first 10 rows of data.
    if printQC == 1:
        print(fileName)
        print(importedData.head(nRowsQC))
        
    return importedData

In [0]:
fileName = "wells_data.csv"
nHeaderRows = 0
printQC = 0

In [0]:
data = fileDataImport(fileName,nHeaderRows,printQC)

In [8]:
data.iloc[0:5,:]

          * UWI Common Well Name  ... Y Coord Bh (meters)  Remark
0  540000067700         PVH-1034  ...                 NaN     NaN
1  540000068000         PVH-1068  ...                 NaN     NaN
2  540000068100          PLF-859  ...          4942828.76     NaN
3  540000070500         PVH-1017  ...                 NaN     NaN
4  540000070600         PVH-1041  ...                 NaN     NaN

[5 rows x 20 columns]